.container {
    /* background-color: blue; */
    overflow: hidden;
}
.intro{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
}
.btns{
   text-align: center;
   margin-left: -20px;
   margin-right: -20px;
}
.btn{
    width: 200px;
    margin: 0 20px;
    display: inline-block;
    line-height: 50px;
    color: #20B2AA;
    border: 1px solid;
    border-radius:  1px 40px;
    background-color: whitesmoke;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
}
.btn:hover {
    background-color: #20B2AA;
    color: whitesmoke;
}