.logo{
    margin-left: 100px;
}
.main{
    padding-right: 50px;
    height: 30px;
}
.profile-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-dashboard{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.sidebar{
    width: 16%;
    height: 100vh;
    border-right: 1px solid #292B3A;
    background-color: #262730;
    position: fixed;
    z-index: 11;
}

.sidebar-top{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.sidebar-mid, .sidebar-bottom, .sidebar-top{
    border-bottom: 1px solid #292B3A;
}

.sidebar-mid ul, .sidebar-bottom ul{
    margin-left: 0;
    padding-left: 0;
}

.sidebar-mid ul li, .sidebar-bottom ul li, .my-profile ul li{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ddd;
    background-color: transparent;
    margin: 10px 0;
    padding: 0 5px;
    border-right: 3px solid transparent;
    padding-left: 15px;
}

.sidebar-mid ul li:hover, .sidebar-bottom ul li:hover, .my-profile ul li:hover{
    background-color: #292B3A;
    border-right: 3px solid #3367d6;
    color: #fff;
}

.sidebar-mid ul li h5, .sidebar-bottom ul li h5, .my-profile ul li h5{
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 10px;
    color: #ddd;
}

.sidebar-mid ul li h5:hover, .sidebar-bottom ul li h5:hover{
    color: #fff;
}

.sidebar-bottom ul li h5{
    display: flex;
}

.sidebar-mid ul li h5 span{
    margin-left: 50px;
}

.sidebar-bottom ul li h5 span{
    margin-left: 40px;
    border-radius: 50%;
    background-color: #3367d6;
    font-size: .8rem;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3px 2px;
}

/* modal */

.my-profile-container{
    position: relative;
    left: 17%;
}
.my-profile{
    width: 150px;
    position: absolute;
    top: 25%;
    border: 1px solid #262838;
    background-color: #262838;
    z-index: 3;
    border-radius: 5px;
}

.my-profile ul{
    padding-left: 0;
}

.user-option-dashboard{
    width: 84%;
    background-color: #262838;
}

.sidebar .hamburger{
    display: none;
    border: 2px solid #ddd;
    padding: 8px 6px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.sidebar .hamburger span{
    height: 2px;
    background-color: #3367d6;
    display: block;
}

.sidebar .hamburger .h-top{
    width: 16px;
}

.sidebar .hamburger .h-mid{
    width: 12px;
    margin: 3px 0;
}

.sidebar .hamburger .h-bottom{
    width: 14px;
}

.sidebar-top-slide{
    display: none;
    list-style: none;
    padding-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #292B3A;
    padding-left: 10px;
}

.sidebar-top-slide button{
    padding: 2px 7px;
    border: 1px solid #3367d6;
    background-color: #3367d6;
    color: #fff;
    border-radius: 3px;
}

.sidebar-top-slide button h5{
    font-size: .9rem;
    font-weight: 400;
    display: none;
}

/* responsiveness */

@media all and (max-width: 480px){
    .sidebar{
        width: 12%;
        height: 100%;
    }
    .sidebar.expanded{
        width: 50%;
        transition: width .4s;
    }
    .sidebar-mid.expanded ul li h5, .sidebar-bottom.expanded ul li h5{
        display: block;
    }
    .sidebar-mid.expanded ul li, .sidebar-bottom.expanded ul li{
        padding: 0 20px;
    }
    .sidebar-top{
        padding-left: 5px;
    }
    .sidebar-mid ul li, .sidebar-bottom ul li{
        padding: 10px 20px;
    }
    .sidebar-mid ul li h5, .sidebar-bottom ul li h5{
        display: none;
    }
    .user-option-dashboard{
        width: 88%;
    }
    .sidebar .hamburger{
        display: block;
        position: absolute;
        left: 20%;
        top: 4%;
    }
    .sidebar-top{
        display: none;
    }
    .sidebar-top-slide{
        display: block;
    }
    .sidebar-top-slide.expanded button{
        width: 200px;
        transition: width .5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidebar-top-slide.expanded button h5{
        display: block;
        padding-top: 3px;
        padding-left: 5px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px){
    .sidebar{
        width: 8%;
        height: 100%;
    }
    .sidebar.expanded{
        width: 33%;
        transition: width .4s;
    }
    .sidebar-mid.expanded ul li h5, .sidebar-bottom.expanded ul li h5{
        display: block;
    }
    .sidebar-mid.expanded ul li, .sidebar-bottom.expanded ul li{
        padding: 0 20px;
    }
    .sidebar-top{
        padding-left: 5px;
    }
    .sidebar-mid ul li, .sidebar-bottom ul li{
        padding: 10px 20px;
    }
    .sidebar-mid ul li h5, .sidebar-bottom ul li h5{
        display: none;
    }
    .user-option-dashboard{
        width: 92%;
    }
    .sidebar .hamburger{
        display: block;
        position: absolute;
        left: 20%;
        top: 4%;
    }
    .sidebar-top{
        display: none;
    }
    .sidebar-top-slide{
        display: block;
    }
    .sidebar-top-slide.expanded button{
        width: 200px;
        transition: width .5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidebar-top-slide.expanded button h5{
        display: block;
        padding-top: 3px;
        padding-left: 5px;
    }
}