.logo{
    margin-left: 100px;
}
.main{
    padding-right: 50px;
    height: 30px;
}
.profile-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-dashboard{
    display: flex;
    width: 100%;
}

.sidebar{
    width: 260px;
    height: 100vh;
    border-right: 1px solid #292B3A;
    background-color: #262730;
    position: sticky;
}

.sidebar-top{
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.sidebar-mid, .sidebar-bottom, .sidebar-top{
    border-bottom: 1px solid #292B3A;
}

.sidebar-mid ul, .sidebar-bottom ul{
    margin-left: 0;
    padding-left: 0;
}

.sidebar-mid ul li, .sidebar-bottom ul li{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ddd;
    background-color: transparent;
    margin: 10px 0;
    padding: 0 5px;
    border-right: 3px solid transparent;
    padding-left: 15px;
}

.sidebar-mid ul li:hover, .sidebar-bottom ul li:hover{
    background-color: #292B3A;
    border-right: 3px solid #3367d6;
    color: #fff;
}

.sidebar-mid ul li h5, .sidebar-bottom ul li h5{
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 10px;
    color: #ddd;
}

.sidebar-mid ul li h5:hover, .sidebar-bottom ul li h5:hover{
    color: #fff;
}

.sidebar-mid ul li h5 span{
    margin-left: 50px;
}

.sidebar-bottom ul li h5 span{
    margin-left: 60px;
    border-radius: 50%;
    background-color: #3367d6;
    font-size: .9rem;
    padding: 3px 8px;
    text-align: center;
}