@media all and (max-width: 480px){
    .row>*{
        width: auto !important;
    }
    .phone-chat-container{
        width: 100%;
        height: 90vh;
    }
    
    .phone-chat-container .phone-chat-box{
        height: 100%;
    }
    
    .phone-chat-box .phone-msg-header{
        padding: 10px 40px;
        background-color: #3367d6;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .phone-chat-box .phone-msg-header h1{
        color: #fff;
        font-size: 1.5rem;
    }
    
    .phone-chat-box .chat-panel{
        height: 76vh;
        width: 100%;
        min-height: 76vh;
    }
    
    .phone-chat-box .chat-panel .chat-bubble{
        width: auto;
        padding: 0 20px;
        max-width: 160%;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    .phone-chat-box .chat-panel .chat-bubble .msg-cont{
        padding: 0 2px;
    }
    
    .phone-chat-box .chat-panel .chat-bubble--blue{
        right: 0;
        justify-content: flex-start;
    }
    
    .phone-chat-box .phone-msg-input{
        position: fixed;
        border-top: 2px solid #ddd;
        top: 87%;
        padding: 5px 10px;
        width: 90%;
    }
    
    .phone-chat-box .phone-msg-input .chat-box-input{
        display: flex;
        justify-content: space-between;
        width: 100%;
        outline: none;
        padding: 10px 14px;
        border: 1px solid #262838;
        background-color: #404355;
        border-radius: 20px;
        color: #fff;
    }
    
    .phone-chat-box .phone-msg-input .chat-box-input .i{
        cursor: pointer;
    }
    
    .phone-chat-box .phone-msg-input .chat-box-input input{
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        width: 100%;
    }
}