.header {
    padding-bottom: 30px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
}

.header ul li{
    list-style: none;
}

.header ul li h4{
    font-family: inherit;
    font-weight: 700;
    font-size: 0.8rem;
}

.header ul li h5{
    font-weight: 400;
    font-size: 0.8rem;
}

.header ul .border {
    background-color: #ddd;
    width: 200px;
    height: 1px;
}

.header .border1 {
    width: 100%;
    background-color: #F9F9F9;
    height: 1px;
}