.level1, .level4, .level2, .level3, .level5, .level6, .level7, .level8, .level9, .level10, .level12, .level11 {
    display: flex;
    margin: 20px;
    align-items: center;
}

.level2 h5, .level3 h5, .level4 h5, .level5 h5, .level6 h5, .level7 h5, .level8 h5, .level9 h5, .level10 h5, .level12 h5, .level11 h5 {
    font-weight: 400;
    font-size: 1rem;
    margin-right: 20px;
}

.level1 .input1, .level4 .input1, .level8 .input1, .level9 .input1, .level12 .input1, .level11 .input1 {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.level1 .input1 input, .level4 .input1 input, .level8 .input1 input, .level9 .input1 input, .level12 .input1 input, .level11 .input1 input {
    width: 100%;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border-radius: 2px;
	background: white;
	color: black;
	font-size: 14px;
}

.level1 .input1:hover, .level4 .input1:hover, .level8 .input1:hover, .level9 .input1:hover, .level12 .input1:hover, .level11 .input1:hover {
    background-color: skyblue;
}

.level5 input{
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    font-size: 1rem;
}

.level6 textarea{
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    height: 80px;
    padding: 10px;
    font-size: 1rem;
}

.level10 .ref{
    display: flex;
    border: 2px solid #ced4da;
    width: 120px;
    border-radius: 3px;
    margin-top: 10px;
}

.level10 .ref input[type='text']{
    outline: none;
    text-align: center;
    font-size: 1rem;
    color: #495057;
    background-color: white;
    padding: 11px 8px;
    border: none;
    width: 50px;
}

.level10 .ref button {
    text-align: center;
    padding: 10px 12px;
    background-color: transparent;
    color: #ff084e;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

.submit input[type='submit'] {
    border: 1px solid #ff084e;
    background-color: crimson;
    outline: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

.submit input[type='submit']:hover {
    background-color: white;
    color: crimson;
    transition: all .5s;
}

/* checkout */

.container1 {
    width: 250px;
    border: 1px solid skyblue;
    border-radius: 5px;
    background-color: skyblue;
    padding: 20px;
    margin-left: 100px;
    position: fixed;
    left: 70%;
}

.container1 .desc h1{
    font-size: 1rem;
    font-weight: 700;
}

.container1 .desc h5{
    font-size: .9rem;
}

.pricing h5{
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
}

.checkout{
    text-align: center;
}

.total-price{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.total-price h3{
    font-size: 1rem;
    font-weight: 700;
}

.desc {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.pricing{
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}