.order{
    width: 850px;
}

.level1, .level4, .level2, .level3, .level5, .level6, .level7, .level8, .level9, .level10, .level12, .level11, .level20, .tasklevel, .spacing {
    display: flex;
    margin: 20px;
    align-items: center;
}

.level2 h5, .level3 h5, .level4 h5, .level5 h5, .level6 h5, .level7 h5, .level8 h5, .level9 h5, .level10 h5, .level12 h5, .level11 h5, .tasklevel h5 {
    font-weight: 400;
    font-size: 1rem;
    margin: auto;
    float: right;
}

.level1 .input1, .level4 .input1, .level8 .input1, .level9 .input1, .level12 .input1, .tasklevel .input1, .spacing .input1 {
    margin: 0;
    border: 1px solid #111;
    display: flex;
    border-radius: 2px;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

.level11 .input1{
    border: 1px solid #F9F9F9;
    padding-left: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.level11 .input1 input[type='checkbox']{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.tasklevel .input1{
    width: 150px;
}
.tasklevel .input1 label{
    padding: 10px;
    text-align: center;
}

.level4 .input1{
    width: 130px;
}
.level4 .input1 label{
    padding: 10px;
    font-size: .9rem;
    text-align: center;
}

.level9 .input1{
    width: 100px;
}
.level9 .input1 label{
    padding: 5px;
    text-align: center;
}
.level8 .input1 label{
    padding: 5px;
    font-size: .9rem;
    text-align: center;
}
.level8 .input1{
    width: 100px;
}
.level11 .inputs{
    width: 75%;
}
.level11 .inputs .input1 label{
    padding: 20px;
    cursor: pointer;
}
.level11 .inputs .input1 label span{
    text-align: center;
}

.level12 .input1{
    width: 200px;
}
.level12 .input1 label{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #F9F9F9;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}

.level1 .input1{
    width: 200px;
}
.level1 .input1 label{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.level1 .input1 label span{
    color: #ddd;
}

.spacing .input1 label{
    padding: 8px;
    width: 100px;
    text-align: center;
}

.tasklevel .input1 label, .level1 .input1 label, .level4 .input1 label, .level8 .input1 label, .level9 .input1 label, .level12 .input1 label, .spacing .input1 label{
    z-index: 90;
    margin-top: 0;
    cursor: pointer;
}

.level4-name{
    margin-right: auto;
}
.level5-name{
    margin-right: 90px;
}

.level4-name1{
    margin-right: 60px;
}

.level1 .input1 input, .level4 .input1 input, .level8 .input1 input, .level9 .input1 input, .level12 .input1 input, .tasklevel .input1 input, .spacing .input1 input {
    width: 100%;
    opacity: 0.01;
    z-index: 100;
    appearance: none;
	background: white;
	color: black;
}

.level1 .input1:hover, .level4 .input1:hover, .level8 .input1:hover, .level9 .input1:hover, .level12 .input1:hover, .level11 .input1:hover, .spacing .input1:hover {
    background-color: skyblue;
}

.tasklevel .input1 input[type='radio']:checked+label, .Checked+label, .level1 .input1 input[type='radio']:checked+label, .Checked+label, .level4 .input1 input[type='radio']:checked+label, .Checked+label, .level8 .input1 input[type='radio']:checked+label, .Checked+label, .level9 .input1 input[type='radio']:checked+label, .Checked+label, .level12 .input1 input[type='radio']:checked+label, .Checked+label, .level11 .input1 input[type='radio']:checked+label, .Checked+label, .spacing .input1 input[type='radio']:checked+label, .Checked+label{
    background-color: skyblue;
}

.level5 input{
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    font-size: 1rem;
}

.level6 textarea{
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    height: 80px;
    padding: 10px;
    font-size: 1rem;
}

.level10 .ref{
    display: flex;
    border: 2px solid #ced4da;
    width: 120px;
    border-radius: 3px;
    margin-top: 10px;
}

.level10 .ref input[type='text']{
    outline: none;
    text-align: center;
    font-size: 1rem;
    color: #495057;
    background-color: white;
    padding: 11px 8px;
    border: none;
    width: 50px;
}

.level10 .ref button {
    text-align: center;
    padding: 10px 12px;
    background-color: transparent;
    color: #ff084e;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}


.level7 .upload{
    border: 1px dotted dodgerblue;
    width: 100%;
    margin-left: 30px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #F9F9F9;
}

.level1{
    margin-left: 150px;
}

/* checkout */

.container1 {
    width: 250px;
    border: 1px solid skyblue;
    border-radius: 5px;
    background-color: skyblue;
    padding: 20px;
    margin-left: 100px;
    position: fixed;
    left: 70%;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px
}

.container1 .desc h1{
    font-size: 1rem;
    font-weight: 700;
}

.container1 .desc h5{
    font-size: .9rem;
}

.pricing h5{
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
}

.checkout{
    text-align: center;
}

.total-price{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.total-price h3{
    font-size: 1rem;
    font-weight: 700;
}

.desc {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.pricing{
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.account h4{
    margin-left: 100px;
}