.home-container{
    width: 100%;
    height: 100vh;
    background-color: #292B3A;
    z-index: 1;
}

.navigation{
    padding-top: 30px;
}

.navigation .navlinks ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 350px;
}

.navigation .navlinks ul li{
    list-style: none;
    color: #fff;
    cursor: pointer;
}

.navigation .logo ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
}

.navigation .logo ul li{
    list-style: none;
    color: #fff;
}

.services-container{
    position: relative;
    width: 100%;
}

.services-container .services-options{
    position: absolute;
    z-index: 2;
    left: 25%;
    border: 1px solid #262730;
    background-color: #262730;
}

.services-options ul{
    display: block;
    padding-left: 0;
    margin-bottom: 0;
}

.services-options ul li{
    list-style: none;
    color: #fff;
    padding: 8px 14px;
    cursor: pointer;
}

.services-options ul li:hover{
    background-color: #262838;
}