/* STEP 1 */

.step1 {
    display: flex;
    align-items: center;
}

.step1 .details {
    background-color: skyblue;
    border-radius: 30px;
    padding: 30px;
    width: 50%;
    margin-right: 50px;
    height: 400px;
}

.step1 .details p{
    color: #1d1d1d;
    font-weight: 700;
    font-size: 1rem;
}

.step1 .details h1 {
    color: white;
    font-size: 4rem;
}

.step1 .form h2 {
    font-weight: 600;
    font-size: 1.2rem;
}

.step1 .form .radio {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.step1 .form .radio .inputs {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step1 .form .radio input {
    width: 100%;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border-radius: 2px;
	background: white;
	color: black;
	font-size: 14px;
}

.step1 .form .radio .inputs:hover {
	background-color: #F9F9F9;
}

.step1 .form .radio .inputs .topic {
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.step1 .form .radio .inputs .description {
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 10px;
    cursor: pointer;
}

/* STEP 4 */

