/* STEP 1 */

.step1 {
    display: flex;
    align-items: center;
}

.step1 .details {
    background-color: skyblue;
    border-radius: 30px;
    padding: 30px;
    width: 50%;
    margin-right: 50px;
    height: 400px;
}

.step1 .details p{
    color: #1d1d1d;
    font-weight: 700;
    font-size: 1rem;
}

.step1 .details h1 {
    color: white;
    font-size: 4rem;
}

.step1 .details h5 {
    color: white;
    font-size: 2rem;
}

.step1 .form h2{
    font-weight: 600;
    font-size: 1rem;
}

.step1 .form .radio {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.step1 .form .radio .inputs {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step1 .form .radio input {
    width: 100%;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border-radius: 2px;
	background: white;
	color: black;
	font-size: 14px;
}

.step1 .form .radio .inputs:hover {
	background-color: #F9F9F9;
}

.step1 .form .radio .inputs .topic {
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.step1 .form .radio .inputs .description {
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 10px;
    cursor: pointer;
}

/* STEP 3 */

.step3 .calender {
    padding-top: 20px;
    padding-bottom: 20px;
}

.step3 h2, .step4 h2, .step5 h2 {
    font-size: 1rem;
}

/* STEP 4 */

.step4 .requirements {
    padding-top: 10px;
}

.step4 .requirements .paper, .subject, .pages {
    padding-bottom: 10px;
}

.step4 .requirements .paper h3, .subject h3, .pages h3 {
    font-size: 1rem;
    font-weight: 400;
}

.step4 .requirements .pages .page {
    display: flex;
    align-items: center;
}


.step4 .requirements .pages .page .word__count h4 {
    padding: 11px 15px;
    background-color: #F9F9F9;
    border-radius: 2px;
    color: #1d1d1d;
    font-weight: 400;
    width: 130px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1rem;
    margin-top: 10px;
}

.step4 .requirements .subject .select, .paper .select {
    width: 500px !important;
}

.step4 .requirements .subject .unselect {
    color: #ddd !important;
}

/* STEP 5 */

.step5 .instructions {
    padding-top: 20px;
}

.step5 .instructions .up {
    border: 1px solid #ddd;
    border-radius: 3px;
}

.step5 .instructions h3 {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 10px;
}

.step5 .instructions textarea {
    width: 500px;
    padding: 10px;
    color: #ddd;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ddd;
    height: 150px;
    margin-bottom: 0;
}

.step5 .instructions .upload {
    width: 500px;
    border-bottom: 1px solid #ddd;
    padding: 0;
    margin: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.step5 .instructions .upload h4 {
    padding: 8px 5px;
    background-color: #F9F9F9;
    border-radius: 2px;
    color: blue;
    font-weight: 400;
    width: 100px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1rem;
}

.step5 .instructions .format {
    padding-top: 10px;
}

.step5 .instructions .format h4, .ref h4 {
    font-weight: 400;
    font-size: 1rem;
}

.step5 .instructions .ref {
    padding-top: 10px;
}

.step5 .instructions .ref p {
    font-size: 0.8rem;
    color: #1d1d1d;
}

.step5 .instructions .ref .ref__count, .step4 .requirements .pages .ref__count {
    display: flex;
    border: 2px solid #ced4da;
    width: 150px;
    border-radius: 3px;
    margin-top: 10px;
}

.step5 .instructions .ref .ref__count input[type=text], .step4 .requirements .pages .ref__count input[type=text] {
    outline: none;
    text-align: center;
    font-size: 1rem;
    color: #495057;
    background-color: white;
    padding: 11px 8px;
    border: none;
    width: 80px;
}

.step5 .instructions .ref .ref__count button, .step4 .requirements .pages .ref__count button {
    text-align: center;
    padding: 10px 12px;
    background-color: transparent;
    color: #ff084e;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

.step5 .instructions .format .select {
    width: 150px !important;
}

/* SUMMARY */

.details .summary p {
    color: white;
}

.details .summary p span {
    font-weight: 400;
}

.details .summary .page-count {
    display: flex;
    border: 1px solid rgb(28, 41, 46);
    background-color: rgb(28, 41, 46);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    justify-content: space-between;
    width: 100%;
}

.details .summary .page-count button {
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.details .summary .page-count .count {
    display: flex;
    align-items: center;
}