/* Recent */

.recent {
    border: 2px solid #F9F9F9;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.recent .recent-details h3 {
    font-size: 1rem;
    color: skyblue;
    padding-bottom: 10px;
}

.recent .recent-details p {
    font-size: .9rem;
    line-height: 10px;
}

.recent .recent-details p span {
    font-weight: 700;
}

.recent .recent-details .verify {
    padding-top: 5px;
}

.recent .recent-details .verify button {
    margin-right: 20px;
    outline: none;
    border: 2px solid #ddd;
    padding: 2px 12px;
    background-color: white;
    color: #111;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
}

.recent .recent-details .verify button:hover {
    background-color: #F9F9F9;
}

.recent .recent-progress p {
    font-size: .8rem;
    color: #111;
    font-weight: 400;
}

.recent .recent-progress .payment {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.recent .recent-progress .payment button {
    margin-right: 20px;
    outline: none;
    border: 2px solid #ddd;
    padding: 2px 10px;
    background-color: rgb(245, 226, 230);
    color: #111;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
}

.recent .recent-progress .payment h2 {
    font-size: 1.1rem;
}