.order {
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
}

.order .steps{
    padding-bottom: 50px;
}

.order .buttons {
    display: flex;
    justify-content: space-between;
}